## Jupyter Intro

This is a really short exercise to get you familiar with working in a **jupyter notebook** using Berkeley's DataHub. There are three coding assignments for the course, and all of them will be in a jupyter notebook just like this.

A jupyter notebook is a Python coding environment that runs code on a cell-by-cell basis. If you are used to using R, you might find this similar to an RMarkdown notebook. You can run the code in a *code cell* by pressing the "Play" button at the top of the window, or by pressing `Shift+Enter` while your cursor is in the cell. Try running the cell below now:

In [1]:
print("Hello world!")

Hello world!

You can write regular text in a *Markdown cell*. Your coding assignments will have a mix of coding and written response questions. [This Markdown cheat sheet](https://www.markdownguide.org/cheat-sheet/) has the most commonly used syntax for Markdown, e.g. how to make text **bold** or *italics*.

**Double click this cell to edit the following line:**

My name is \[*change this text to your name*\].

Once you're done, press the "Play" button at the top of the window or press `Shift+Enter` to run the cell and see the result.

Some problems will ask you to write some simple math expressions. Markdown cells let you write math in LaTeX by wrapping the math in \\$ (for inline), e.g. $y = x + 1$ or \\$\\$ signs for a block of text, e.g.:

$$ y = x + 1 $$

You can double click this cell to see the LaTeX code. If you're new to LaTeX, you can use a website like [this one](https://www.codecogs.com/latex/eqneditor.php) to create your expression, then copy and paste the automatically generated LaTeX code into your Markdown cell (remembering to wrap it in \\$ or \\$\\$!). Learning LaTeX can be annoying at first, but it is really worthwhile and will save you time in the future!

**In this cell, try writing an expression in LaTeX:** (e.g. change the $x$ in the expression above to be $x$ squared, you might want to use the [LaTeX editor](https://www.codecogs.com/latex/eqneditor.php) to find the syntax for superscript.)

$$ y = ... $$

Finally, you'll need to know how to load in a dataset. We will go over manipulating data in the first coding assignment. For now, let's just see how to load a dataset and see the first few rows. Run the following cell to load the sample data.

In [3]:
import pandas as pd # You only need to run this line once per session.
                    # In general, it's good practice to load all of your packages at the top of your notebook.
data = pd.read_csv("data/framingham_sample.csv")
data.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766

This data is a sample from the `framingham` dataset from a comprehensive cardiovascular study. You'll explore this data in more depth in your first coding assignment!

That's it! You can come back to this notebook at any time using the same link. 

If you want to set up your *own* jupyter notebook, you can go to [datahub.berkeley.edu](https://datahub.berkeley.edu). Once you've logged in with your CalNet log in, you can click the 'New' button in the top right, select 'Python 3' and it will open a brand new notebook for you. You can use the 'Upload' button (next to the 'New' button) to upload your own files, for example, (small) datasets that you want to use in your notebook. 

You might want to try this out now to make sure you're able to do it! If you have any trouble, post on Piazza or come to Sam's office hours for help.